<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/manager/estilo.css">

</head>

<body>
    <header id="topo">
        <h1 class="texto">ACME FOR MANAGER</h1>
        <a href="/manager/notifi"><img src="../images/manager/bell.png"
                alt="ícone com um sino indicando as notificações"></a>
    </header>
    <main id="main">
        <div id="menu1">
            <h2 id="opt"><a href="/manager/dadosMantIni">Dados do avião</a></h1>
                <h2 id="opt"><a href="/manager/planMan">Planejar manutenção</a></h1>
                    <h2 id="opt"><a href="/manager/relMan">Relatório de manutenção</a></h1>
        </div>
        <div id="menu2">
            <h2 id="opt"><a href="/manager/dadosUso">Dados de uso do avião</a></h1>
                <h2 id="opt"><a href="/manager/dadosMantIni">Inicializar componentes</a></h1>
                    <h2 id="opt"><a href="addTecnico.ejs">Adicionar técnico/a></h1>
                        <h2 id="opt"><a href="/manager/ajuda">Ajuda</a></h1>
        </div>
        </div>
    </main>
    <footer id="rodape">
        <p>Desenvolvido por alunos da Fatec Zona Leste</p>
        <p>Todos os direitos reservados &copy;</p>
    </footer>
</body>

</html>