<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/manager/estilo.css">

</head>

<body>
    <header id="topo">
        <h1 class="texto">ACME FOR MANAGER</h1>
        <a href="notifi.ejs"><img src="/public/images/manager/bell.png"
                alt="ícone com um sino indicando as notificações"></a>
    </header>
    <main id="main">
        <div id="menu1">
            <h2 id="opt"><a href="/manager/dadosMantIni.ejs">Dados do avião</a></h2>
                <h2 id="opt"><a href="planMan.ejs">Planejar manutenção</a></h2>
                    <h2 id="opt"><a href="relMan.ejs">Relatório de manutenção</a></h2>
        </div>
        <div id="menu2">
            <h2 id="opt"><a href="dadosUso.ejs">Dados de uso do avião</a></h2>
                <h2 id="opt"><a href="dadosMantIni.ejs">Inicializar componentes</a></h2>
                    <h2 id="opt"><a href="addTecnico.ejs">Adicionar técnico</a></h2>
                        <h2 id="opt"><a href="ajuda.ejs">Ajuda</a></h2>
        </div>
        </div>
    </main>
    <footer id="rodape">
        <p>Desenvolvido por alunos da Fatec Zona Leste</p>
        <p>Todos os direitos reservados &copy;</p>
    </footer>
</body>

</html>