<html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../../stylesheets/manager/estilo.css">
</head>

<body>
    <header id="topo">
        <h1 class="texto">ACME FOR MANAGER</h1>
        <a href="/manager"><img src="../../images/manager/home.png"
                alt="ícone com uma casa indicando a página inicial"></a>
    </header>
    <main id="main">

        <form style="height: 40vh; width: 80vw;" class="d-flex flex-column gap-10" autocomplete="off" id="busca" name="busca" method="POST" action="/manager/notifi/create">
            <select id="man" name="man" id="man">
                <option value="#">Buscar manutenção</option>
                <% if(avioes.constructor === Array) avioes.map( avi => { %>
                <option value="<%= avi.id %>"><%= avi.motivoManutencao %> (<%= avi.numeroManutencao %>)</option>
                <% }); %>
            </select>
            <select name="prior" id="prior">
                <option value="Severidade 1">Severidade 1</option>
                <option value="Severidade 2">Severidade 2</option>
                <option value="Severidade 3">Severidade 3</option>
                <option value="Severidade 4">Severidade 4</option>
            </select>     
            <input style="border: 1px solid black; border-radius: 3px;" type="text" name="desc" id="desc" placeholder="Descrição">
            <button type="submit"><img src="../../images/manager/pasta.png"></button>
        </form>
        <a href="/manager"> Voltar </a>

    </main>
    <footer id="rodape">
        <p>Desenvolvido por alunos da Fatec Zona Leste</p>
        <p>Todos os direitos reservados &copy;</p>
    </footer>
</body>

</html>