<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/stylesheets/manager/estilo.css">

    </head>
        <body>
<header id="topo">
    <h1 class="texto">ACMI FOR MANAGER</h1>
    <div id="buttons">
    <a href="../index.html"><img src="/public/images/manager/home.png" alt="ícone com uma casa indicando a página inicial"></a> 
    <a href="notifi.html"><img src="/public/images/manager/bell.png" alt="ícone com um sino indicando as notificações"></a>
</div>
</header>
<main id="main">
    <h1>Relatório</h1> 
    <div id="doc">
        <h2>Documento da manutenção</h2>
        <h3>Data:</h3>
        <h3>Observações: </h3>
        <h3>Informações das peeças: </h3>
        <h3>Identificação do avião: </h3>
        <h3>Motivo da manutenção: </h3>
        <h3>Custo da manutenção: </h3>
        <h3>Relatório: </h3>
    <div id="btns">
        <button type="button"><img src="/public/images/manager/send.png"></button>
        <button type="button"><img src="/public/images/manager/print.png"></button>
    </div>
</div>
</main>

<footer id="rodape">
<p>Desenvolvido por alunos da Fatec Zona Leste</p>
<p>Todos os direitos reservados &copy;</p>
</footer>
        </body>
</html>